[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
rope = "*"

[packages]
tensorflow = "*"
jupyter = "*"
scikit-learn = "*"
numpy = "*"
scipy = "*"
opencv-python = "*"
matplotlib = "*"
scikit-image = "*"
argparse = "*"

[requires]
python_version = "3.6"
